<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>筑桥实验小学</title>
    <link rel="stylesheet" type="text/css" href="./static/font/iconfont.css">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <style>
      body{height: 100%;margin:0;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
      html{height: 100%;}
      li{list-style: none;}


       html,body{
        background:transparent;
        background-color: rgba(0,0,0,0);
        height: 100%;
        width: 100%;
        margin: 0;
    }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
